pkgbase = libgpg-stream
  pkgdesc = GNU-Standard GPG Streaming Library for secure multicast communication
  pkgver = 1.0.0
  pkgrel = 1
  url = https://github.com/theesfeld/libgpg-stream
  arch = x86_64
  arch = i686
  arch = aarch64
  arch = armv7h
  license = GPL-3.0-or-later
  makedepends = gcc
  makedepends = autoconf
  makedepends = automake
  makedepends = libtool
  makedepends = pkg-config
  depends = gpgme
  depends = glibc
  optdepends = gnupg: for GPG key management
  provides = libgpg-stream=1.0.0
  source = libgpg-stream-1.0.0.tar.gz::https://github.com/theesfeld/libgpg-stream/archive/v1.0.0.tar.gz
  sha256sums = fa32db62dbad48c945fa17022b7600bedcd9584f3ded7ab6df1109eca72bf60b

pkgname = libgpg-stream